body {
  background: #000;
  color: azure;
}

a {
  color: azure;
}
.in {
  padding-left: 30px;
}
.btn-flat-double-border {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: double 4px #67c5ff;
  border-radius: 3px;
  transition: 0.4s;
}
.btn-flat-double-border:hover {
  background: #113355;
}
.linenup-img-description {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
.red {
  color: red;
}
.rotage_alert {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  vertical-align: middle;
  text-align: center;
  z-index: 1;
  display: none;
}
.rotage_alert div {
  color: white;
  font-size: 1rem;
  padding: 10px;
}
img {
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  img {
    width: 100%;
  }
}
.new {
  position: relative;
  padding-left: 50px;
}
.new::after {
  content: "NEW";
  text-align: center;
  vertical-align: middle;
  width: 40px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff744d;
  position: absolute;
  top: 0;
  left: 0;
}